/* Montserrat Font Faces */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf')
    format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Red Hat Display Font Faces */
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('/fonts/Red_Hat_Display/RedHatDisplay-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Montserrat Alt1 Font Faces */
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alt1';
  src: url('/fonts/montserrat_alt1/MontserratAlt1-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
}
